<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/admin-layout.css}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <script defer th:src="@{/js/admin-layout.js}"></script>
        <title>쇼핑몰관리 | KIMZEROVIRUS</title>
    </head>

    <body>
        <div id="sidebar">
            <a href="#" class="logo"><i class='bx bxs-smile icon'></i> KIMZEROVIRUS</a>
            <ul class="side-menu">
                <li><a href="#" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
                <li class="divider" data-text="main">Main</li>
                <li><a href="#"><i class='bx bxs-chart icon'></i> Charts</a></li>
                <li><a href="#"><i class='bx bxs-widget icon'></i> Widgets</a></li>
                <li class="divider" data-text="table and forms">Table and forms</li>
                <li><a href="#"><i class='bx bx-table icon'></i> Tables</a></li>
                <!--
                <li>
                    <a href="#"><i class='bx bxs-notepad icon'></i> Forms <i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="#">Basic</a></li>
                        <li><a href="#">Select</a></li>
                        <li><a href="#">Checkbox</a></li>
                        <li><a href="#">Radio</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>

        <div id="content">
            <nav id="navbar">
                <i class='bx bx-menu' id="toggle-sidebar"></i>
                <form action="#">
                    <div class="form-group">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search icon'></i>
                    </div>
                </form>
                <a href="#" class="nav-link">
                    <i class='bx bxs-bell icon'></i>
                    <span class="badge">5</span>
                </a>
                <a href="#" class="nav-link">
                    <i class='bx bxs-message-square-dots icon'></i>
                    <span class="badge">8</span>
                </a>
            </nav>
            <main>
                <div class="main-content">
                    <th:block th:replace="${content}"><!-- !! --></th:block>
                </div>
            </main>
        </div>
    </body>
</th:block>
</html>