
body {
  margin: 0;
  padding: 10px;
}

.draggable > input {
  border: none !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.draggable-container {
  width: 100%;
  background-color: #e7e6f0;
  padding: 1rem;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.draggable {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid #c5cdd7;
  box-sizing: border-box;
  cursor: move;

  border-bottom: none;
}
.draggable:last-child{
  border-bottom: 1px solid #c5cdd7;
}

.draggable.dragging, .dragging-parent {
  opacity: 0.5;
  border: 2px dashed red;
}

.draggable > .btn {
  border: 1px solid #7c8187 !important;
  border-radius: 0 !important;
}
