<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/layout.css}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <script defer th:src="@{/js/layout.js}"></script>
    </head>

    <body>

    <header id="header">
        <nav class="gnb">
            <ul class="nav-menu">
                <li><h1 class="logo"><a href="/">logo</a></h1></li>
                <li><a href="#">shop</a></li>
                <li><a href="#">products</a></li>
                <li><a href="#">page</a></li>
                <li><a href="#">Docs</a></li>
            </ul>

            <div class="nav-icon">
                <a href="/search"><i class="bx bx-search"></i></a>
                <a href="/my-page"><i class="bx bx-user"></i></a>
                <a href="/cart"><i class="bx bx-cart"></i></a>
            </div>
        </nav>
        <!-- mobile -->
        <!-- <div class="bx bx-menu" id="menu-icon"></div> -->
    </header>

    <div id="content">
        <th:block th:replace="${content}"></th:block>
    </div>

    <footer>

    </footer>
    </body>
</th:block>
</html>