<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <title>e-commerce | KIMZEROVIRUS</title>
        <link th:href="@{/css/layout.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap/bootstrap.css}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <script defer th:src="@{/js/layout.js}"></script>
    </head>

    <body>
    <div style="height: 80px; width:100%;">
        <header id="header">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-0 ">
                <div class="container-fluid px-4 px-lg-5">

                    <!-- logo -->
                    <h1 class="d-flex align-items-center justify-content-center h-100">
                        <a href="/">logo</a>
                    </h1>

                    <!-- menu -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a href="#" class="nav-link active">shop</a></li>
                            <li class="nav-item"><a href="#" class="nav-link active">products</a></li>
                            <li class="nav-item"><a href="#" class="nav-link active">page</a></li>
                            <li class="nav-item"><a href="#" class="nav-link active">Docs</a></li>
                        </ul>
                    </div>

                    <div class="d-flex align-items-center">
                        <a href="/search"><i class="bx bx-search btn" style="font-size: 20px !important;"></i></a>

                        <!--        로그아웃시            -->
                        <i class="bx bx-user" style="font-size: 20px !important;" sec:authorize="!isAuthenticated()"></i>
                        <a href="/login" class="text-black text-decoration-none" sec:authorize="!isAuthenticated()">로그인</a>
                        <span class="text-muted mx-1" sec:authorize="!isAuthenticated()">|</span>
                        <a href="/join" class="text-black text-decoration-none" sec:authorize="!isAuthenticated()">회원가입</a>

                        <!--        로그인시            -->

                        <a href="/my-page" sec:authorize="isAuthenticated()"><i class="bx bx-user btn" style="font-size: 20px !important;"></i></a>
                        <a href="/cart"><i class="bx bx-cart btn" style="font-size: 20px !important;"></i></a>
                    </div>
                </div>
            </nav>
            <!-- mobile -->
            <!-- <div class="bx bx-menu" id="menu-icon"></div> -->
        </header>
    </div>

    <div id="content">
        <th:block th:replace="${content}"></th:block>
    </div>

    <footer>

    </footer>
    </body>
</th:block>
</html>