<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME</title>
</head>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {

    })
</script>

<th:block th:replace="~{/layouts/layout :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <section class="jumbotron text-center bg-white" style="margin-bottom:0">
            <h1 class="py-5 my-5">ADDRESS</h1>
        </section>

        <div class="container px-4 px-lg-5">

        </div>
    </th:block>

</th:block>
</html>