<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME</title>
    <link th:href="@{/css/userinfo.css}" rel="stylesheet">
</head>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {
        function selectColor(color) {
            document.getElementById('grade').style.backgroundColor = color;
        }

        switch ([[${grade}]]) {
            case "BRONZE":
                selectColor('#CD7F32');
                break;
            case "SILVER":
                selectColor('#c0c0c0');
                break;
            case "GOLD":
                selectColor('#FFD700');
                break;
            case "PLATINUM":
                selectColor('#E5E4E2');
                break;
            case "DIAMOND":
                selectColor('#b9f2ff');
                break;
        }
    })
</script>

<th:block th:replace="~{/layouts/layout :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <section class="jumbotron text-center bg-white" style="margin-bottom:0">
            <h1 class="py-5 my-5">MY</h1>
        </section>

        <div class="container px-4 px-lg-5">
            <div class="userinfo-wrap">
                <div>
                    <div class="d-flex justify-content-between">
                        <p class="h1"><strong th:text="${username}"></strong>님 반갑습니다.</p>
                        <a href="/logout" class="text-end text-muted"><small>로그아웃<i class='bx bx-log-out'></i></small></a>
                    </div>
                    <span th:text="${grade}" id="grade" class="ps-2"></span>
                </div>
            </div>
        </div>
    </th:block>

</th:block>
</html>