@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@400;600&display=swap");
@import url('../vendor/bootstrap/bootstrap.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f1f0f6;
}

/* sidebar */
#sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}
#sidebar.hide {
  max-width: 60px;
}
#sidebar.hide:hover {
  max-width: 260px;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar .logo {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 64px;
  font-weight: 700;
  color: #8f8fc9;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  transition: all 0.3s ease;
  padding: 0 6px;
}
#sidebar .icon {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
#sidebar .icon-right {
  margin-left: auto;
  transition: all 0.3s ease;
}
#sidebar .side-menu {
  margin: 36px 0;
  padding: 0 20px;
  transition: all 0.3s ease;
}
#sidebar .side-menu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000;
  padding: 12px 16px 12px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
  background: #f1f0f6;
}
#sidebar .side-menu > li > a.active .icon-right {
  transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active, #sidebar .side-menu > li > a.active:hover {
  background-color: #8f8fc9;
  color: #fff;
}
#sidebar.hide .side-menu {
  padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
  padding: 0 20px;
}
#sidebar .divider {
  margin-top: 24px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #8D8D8D;
  transition: all 0.3s ease;
  white-space: nowrap;
}
#sidebar.hide:hover .divider {
  text-align: left;
}
#sidebar.hide .divider {
  text-align: center;
}
#sidebar .side-dropdown {
  padding-left: 54px;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.15s ease;
}
#sidebar .side-dropdown.show {
  max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
  color: #8f8fc9;
}

/* content */
#content {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.3s ease;
}

#sidebar.hide + #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* navbar */
#navbar {
  background: #fff;
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  grid-gap: 28px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
#navbar #toggle-sidebar {
  font-size: 18px;
  cursor: pointer;
}
#navbar form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
#navbar form .form-group {
  position: relative;
}
#navbar form .form-group input {
  width: 100%;
  background: #f1f0f6;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
}
#navbar form .form-group input:focus {
  outline: 2px solid #8f8fc9;
}
#navbar form .form-group .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: #8D8D8D;
}
#navbar .nav-link {
  position: relative;
}
#navbar .nav-link .icon {
  font-size: 18px;
  color: #000;
}
#navbar .nav-link .badge {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #E66B26;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #content {
    position: relative;
    transition: all 0.3s ease;
  }

  #sidebar.hide + #content {
    width: 100%;
    left: 0px;
  }

  #sidebar.hide {
    width: 0;
  }

  #navbar {
    width: 100%;
  }
  #navbar .nav-link {
    display: none;
  }

  main {
    padding: 16px 10px 10px 10px;
  }
}
main {
  width: 100%;
  padding: 24px 20px 20px 20px;
}
main .main-content {
  max-width: 1320px;
}
main .main-content .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
main .main-content .info-data {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
}
main .main-content .info-data .card {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
}
main .main-content .info-data .card .head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .main-content .info-data .card .head h2 {
  font-size: 24px;
  font-weight: 600;
}
main .main-content .info-data .card .head p {
  font-size: 14px;
}
main .main-content .data {
  display: flex;
  grid-gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
main .main-content .data .content-data {
  flex-grow: 1;
  flex-basis: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
main .main-content .data .content-data .head {
  margin-bottom: 24px !important;
}
main .main-content .data .content-data .head h3 {
  font-size: 20px;
  font-weight: 600;
}
main .main-content .data .content-data .head, main .main-content .data .content-data .body {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

/*# sourceMappingURL=admin-layout.css.map */
