.sub-container {
    background-color: #e7e6f0;
    padding: 1rem;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.main-category, .sub-category  {
    height: 82px;
    line-height: 82px;
    padding: 0 20px;
    background-color: white;
    border: 1px solid #c5cdd7;
    box-sizing: border-box;
    cursor: move;

    &.dragging {
        opacity: .5;
        border: 2px dashed red;
    }
}

.sub-category{
    border-bottom: none;
    &:last-child {
        border-bottom: 1px solid #c5cdd7;
    }
}
