@import './utils/common.scss';
// 참고 https://www.youtube.com/watch?v=m3aC6t_9RK8

/* sidebar */
#sidebar{
    position: fixed;
	max-width: 260px;
	width: 100%;
	background: $white;
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
   
    &.hide {
        max-width: 60px;
        &:hover{
            max-width: 260px;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }

    .logo {
        font-size: 24px;
        display: flex;
        align-items: center;
        height: 64px;
        font-weight: 700;
        color: $mainColor;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 100;
        background: $white;
        transition: all .3s ease;
        padding: 0 6px;
    }

    .icon {
        min-width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
    }

    .icon-right {
        margin-left: auto;
        transition: all .3s ease;
    }

    .side-menu {
        margin: 36px 0;
        padding: 0 20px;
        transition: all .3s ease;

        a {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: $black;
            padding: 12px 16px 12px 0;
            transition: all .3s ease;
            border-radius: 10px;
            margin: 4px 0;
            white-space: nowrap;
        }

        & > li {
            & > a:hover {
                background: $grey;
            }

            & > a.active .icon-right {
                transform: rotateZ(90deg);
            }

            & > a.active, & > a.active:hover{
                background-color: $mainColor;
                color: $white;
            }
        }
    }
    &.hide{
        .side-menu {
            padding: 0 6px;
        }

        &:hover .side-menu {
            padding: 0 20px;
        }
    }

    .divider {
        margin-top: 24px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: $darkGrey;
        transition: all .3s ease;
        white-space: nowrap;
    }
    &.hide{
        &:hover .divider{
            text-align: left;
        }

        .divider {
            text-align: center;
        }
    }

    .side-dropdown {
        padding-left: 54px;
        max-height: 0;
        overflow-y: hidden;
        transition: all .15s ease;
        &.show {
            max-height: 1000px;
        }

        a:hover {
            color: $mainColor;
        }
    }
}

/* content */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}

/* navbar */
#navbar {
	background: $white;
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;

    #toggle-sidebar {
        font-size: 18px;
        cursor: pointer;
    }

    form {
        max-width: 400px;
        width: 100%;
        margin-right: auto;

        .form-group {
            position: relative;
    
            input {
                width: 100%;
                background: $grey;
                border-radius: 5px;
                border: none;
                outline: none;
                padding: 10px 36px 10px 16px;
                transition: all .3s ease;
                &:focus {
                    outline: 2px solid $mainColor;
                }
            }
                
            .icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
                color: $darkGrey;
            }
        }
    }

    .nav-link {
        position: relative;

        .icon {
            font-size: 18px;
            color: $black;
        }

        .badge {
            position: absolute;
            top: -12px;
            right: -12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid $white;
            background: $subColor;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 10px;
            font-weight: 700;
        }
    }

    main{
        width: 100%;
        padding: 24px 20px 20px 20px;
    }
}

@media screen and (max-width: 768px) {
	#content {
		position: relative;
		transition: all .3s ease;
	}

    #sidebar.hide + #content {
        width: 100%;
        left: 0px;
    }

    #sidebar.hide{
        width: 0;
    }

	#navbar{
        width: 100%;
        .nav-link{
            display: none;
        }
    } 
}