<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/admin-category.css}" rel="stylesheet">
<script defer th:src="@{/js/admin-category.js}"></script>

<th:block th:replace="~{/admin/layouts/layout :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <h1 class="title">카테고리 관리</h1>

        <div class="data">
            <div class="content-data">
                <div class="head">
                    <p>카테고리 순서를 변경하고 주제 연결을 설정할 수 있습니다.
                        <br/>
                        <small style="opacity: 0.5;">드래그 앤 드롭으로 카테고리 순서를 변경할 수 있습니다.</small>
                    </p>
                </div>
                <div class="body">
                    <div class="container">
                        <div class="draggable" draggable="true">
                            <span class="ico-drag"></span>
                            <div class="el">HTML</div>
                        </div>
                        <div class="draggable" draggable="true">
                            <span class="ico-drag"></span>    
                            <div class="el">CSS</div>
                        </div>
                        <div class="draggable" draggable="true">
                            <span class="ico-drag"></span>
                            <div class="el">JavaScript</div>
                        </div>
                    </div>
                
                    <div class="container">
                        <div class="draggable" draggable="true">
                            <span class="ico-drag"></span>
                            <div class="el">React</div>
                        </div>
                        <div class="draggable" draggable="true">
                            <span class="ico-drag"></span>
                            <div class="el">Vue</div>
                        </div>
                        <div class="draggable" draggable="true">
                            <span class="ico-drag"></span>
                            <div class="el">Next JS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</th:block>
</html>