<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/admin-member.css}" rel="stylesheet">
<script defer th:src="@{/js/admin-member.js}"></script>

<th:block th:replace="~{/admin/layouts/layout :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <h1 class="title">회원 관리</h1>

        <div class="data">
            <div class="content-data">
                <div class="head">
                    <h3>Sales Report</h3>
                </div>
                <div class="body">
                  
                </div>
            </div>
        </div>
    </th:block>

</th:block>
</html>